<div class="navbar bg-primary flex items-center justify-between">
  <div class="flex-1">
    <a class="btn btn-outline text-xl text-primary" href="/">UN Member States</a>
  </div>

  <div class="dropdown ml-auto">
    <label tabindex="0" class="btn btn-outline sm:hidden text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </label>
    <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-primary rounded-box w-52">
      <li><a href="/about" class=<%-  (currentRoute == '/about') ? "active" : '' %> >About</a></li>
      <li><a class="<%= (currentRoute == "/un/countries") ? 'active' : '' %>" href="/un/countries"> All Countries </a></li>
    </ul>
  </div>

  <div class="navbar bg-primary">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/about" class=<%-  (currentRoute == '/about') ? "active" : '' %> >About</a></li>
      <li><a class="<%= (currentRoute == "/un/countries") ? 'active' : '' %>" href="/un/countries"> All Countries </a></li>
    </ul>
  </div>
</div>

<br />
